@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(#f1faee, #457B9D, #1D3557);
}

/* Combined styles background-color: #f1faee;*/
.expenses-totals-div,
.expenses-car-div,
.content-div,
.history-div {
  padding: 0.5em;
  margin: 0.25em;
  border-radius: 25px;
  border: 2px solid;
}

.main-div {
  display: flex;
  justify-content: space-between;

  /* These 2 lines are responsible for responsive centering */
  max-width: 1000px;
  margin: 0 auto;
}

.left-div {
  float: left;

  width: 60%;
  height: 100%;
  border-radius: 25px;
  background-color: #F1FAEE;
}

.right-div {
  float: right;

  width: 40%;
  height: 100%;
  border-radius: 25px;
  background-color: #F1FAEE;
  border-radius: 25px;
}

.expenses-container {
  display: flex;
  
}

/* Selection div things */
.selection-div {
  display: flex;
  
  height: 32px;
  margin: 0.25em;
  padding: 0.5em 0;
}

.selection-div select {
  width: 80%;
  border-radius: 25px;
  border: 2px solid;

}

.selection-div button {
  width: 20%;
  margin-left: 0.5em;
  cursor: pointer;
  background-color: #e63946;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 14px;
  margin: 1px 0 px;
  padding: 0px;
  width: 50%;
  border-radius: 25px;
}

/* Other divs */
.expenses-totals-div {
  width: 50%;

  background-color: #ffffff;
}

.expenses-car-div {
  width: 50%;

  background-color: #ffffff;
}

.content-div {
  height: 400px;

  background-color: #ffffff;
}

.history-div {
  background-color: #eeeeee;
  max-height: 510px;
  overflow: auto;
}

.history-element-div {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  margin-bottom: 0.5em;
  padding: 0.5em;
  border: 1px solid black;
  height: 30px;
  border-radius: 25px;
}
.btn {
  cursor: pointer;
  background-color: #e63946;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 50%;
  border-radius: 25px;
  
}


